*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* outer div */
.outer{
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(255, 255, 255);
}


/* navigation which contain divs for image, links and Signup btn */
.nav{
    display: flex;
    align-items: center;
}


/* actual image */
#image{
    height: auto;
    width: 60%;
    cursor: not-allowed;
}


/* div for navigation links */
.links{
    align-items: center;
    word-spacing: 70px;
    font-size: x-large;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* home tab */
#home{
    text-decoration: none;
    color: black;
    transition: .2s;
}
/* home tab on hover */
#home:hover{
    color: red;
    transition: .5s;
    text-shadow: 2px 4px 3px rgba(255, 0, 0, 0.5);
    transition: .2s;
}
/* home on active */
#home:active{
    text-shadow: 1px 2px 1.5px rgba(255, 0, 0, 0.5);
}


/* job tab */
#job{
    text-decoration: none;
    color: black;
}
/* hover on job tab */
#job:hover{
    color: red;
    transition: .5s;
    text-shadow: 2px 4px 3px rgba(255, 0, 0, 0.5);
    transition: .2s;
}
/* job on active */
#job:active{
    text-shadow: 1px 2px 1.5px rgba(255, 0, 0, 0.5);

}

/* companies tab */
#companies{
    text-decoration: none;
    color: black;
}
/* hover on companies */
#companies:hover{
    color: red;
    transition: .5s;
    text-shadow: 2px 4px 3px rgba(255, 0, 0, 0.5);
    transition: .2s;
}
/* companies on active */
#companies:active{
    text-shadow: 1px 2px 1.5px rgba(255, 0, 0, 0.5);
}


/* signup button div */
.btn-container-1{
    margin-left: 20%;
}


/* signup button */
#btnone{
    background-color: red;
    border: red;
    border-radius: 16px;
    font-size: 25px;
    height: 50px;
    width: 120px;
    color: aliceblue;
}
/* button on hover */
#btnone:hover{
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.65);
    transition: .2s;
}
/* button on active */
#btnone:active{
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
    transition: .2s;
}


/* button container div */
.btn-container-1{
    margin-left: 20%;
}

/* search */
.search-container{
    display: flex;
    align-items: center;
    width: 90%; /* Adjust the width as needed */
    border: 1px solid #ffffff;
    border-radius: 30px;
    padding: 10px;
    margin-top: 55px;
    margin-left: 40px;
    font-size: 20px;
    font: bolder;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.438);
}
/* search-bar */
#search-bar{
    flex: 1;
    border: none;
    padding: 2px;
    padding-left: 10px;
    font-size: 23px;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* search button */
.search-btn{
    padding: 8px 20px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    background-color: red;
    color: #ffffff;
    transition: .2s;
}
/* search button on hover */
.search-btn:hover{
    box-shadow: 0 0 10px  rgba(255, 0, 0, 0.6);
}
/* search button on active */
.search-btn:active{
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.4);
}

/* heading */
#discover-job{
    margin-top: 60px;
    text-align: center;
    color: red;
}

/* container-2 */
.container-2{
    height: 400px;
    width: auto;
    border-radius: 30px;
    box-shadow: 3px 5px 10px rgb(82, 82, 82);
    border: 2px;
}
/* jobs container */
.diffjobs{
    padding: 30px;
    word-spacing: 30px;
}

/* for first line which contain uxui and design */
.first-line{
    padding-bottom: 40px;
}
/* for uxui button(class) */
.uxui{
    padding: 20px 50px;
    background-color: rgba(255, 0, 0, 0.3);
    font-size: 20px;
    border: none;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    transition: .6s;
    cursor: pointer;
}
/* uxui id */
#uxui{
    color: rgb(53, 53, 53);
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
}
/* uxui tab on hover */
.uxui:hover{
    box-shadow: 3px 5px 10px red;
}

/* second tab of first line design(class) */
.design{
    padding: 20px 50px;
    background-color: rgba(255, 0, 0, 0.3);
    font-size: 20px;
    border: none;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    transition: .6s;
    cursor: pointer;
}
/* design id */
#design{
    color: rgb(53, 53, 53);
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
}
/* design tab on hover */
.design:hover{
    box-shadow: 3px 5px 10px red;
}

/* second line starts */
.second-line{
    padding-bottom: 40px;
}
/* for sales (class) */
.sales{
    padding: 20px 50px;
    background-color: rgba(255, 0, 0, 0.3);
    font-size: 20px;
    border: none;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    transition: .6s;
    cursor: pointer;
}
/* sales id */
#sales{
    color: rgb(53, 53, 53);
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
}
/* sales tab on hover */
.sales:hover{
    box-shadow: 3px 5px 10px red;
}

/* for architecture (class) */
.architecture{
    padding: 20px 50px;
    background-color: rgba(255, 0, 0, 0.3);
    font-size: 20px;
    border: none;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    transition: .6s;
    cursor: pointer;
}
/* architecture id */
#architecture{
    color: rgb(53, 53, 53);
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
}
/* architecture on hover */
.architecture:hover{
    box-shadow: 3px 5px 10px red;
}

/* making of third line */
.third-line{
    padding-bottom: 40px;
}
/* for marketing(class) */
.marketing{
    padding: 20px 50px;
    background-color: rgba(255, 0, 0, 0.3);
    font-size: 20px;
    border: none;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    transition: .6s;
    cursor: pointer;
}
/* marketing id */
#marketing{
    color: rgb(53, 53, 53);
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
}
/* marketing on hover */
.marketing:hover{
    box-shadow: 3px 5px 10px red;
}

/* finance (class) */
.finance{
    padding: 20px 50px;
    background-color: rgba(255, 0, 0, 0.3);
    font-size: 20px;
    border: none;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    transition: .6s;
    cursor: pointer;
}
/* finance id */
#finance{
    color: rgb(53, 53, 53);
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
}
/* finance on hover */
.finance:hover{
    box-shadow: 3px 5px 10px red;
}

/* discover jobs image will be here */




/* after discover jobs starts from here */
/* div of "companies to explore" */
.explore-container{
    margin-top: 100px;
    margin-bottom: 100px;
}
/* explore text */
.explore{
    text-align: center;
}
/* logo-outer -container changes */
.logo-outer-container{
    background-color: rgba(255, 0, 0, 0.3);
    margin-bottom: 10%;
    height: 250px;
    width: auto;
    border-radius: 33px;
    box-shadow: 6px 6px 10px rgba(255, 0, 0, 0.6);
    align-items: center;
    display: flex;
}
/* delloit logo container */
.logo-1-delloit{
    border-radius: 30px;
    align-items: center;
    padding: 15px 30px;
    transition: .3s;
}
/* delloit logo */
#delloit-logo{
    border: 2px solid black;
    border-radius: 30px;
    transition: .3s;
}
/* adding hover on delloit */
.logo-1-delloit:hover{
    padding-bottom: 100px;
}
/* adding after animation on delloit logo */
#delloit-logo:active{
    box-shadow: 0 0 20px red;
}
/* netflix logo container */
.logo-2-netflix{
    transition: .3s;
}
/* netflix logo */
#netflix-logo{
    height: 230px;
    transition: .3s;
    border-radius: 20px;
}
/* adding hover on netflix */
.logo-2-netflix:hover{
    padding-bottom: 100px;
}
/* adding active animation on netflix */
#netflix-logo:active{
    box-shadow: 0 0 20px red;
}
/* adding amazon logo container */
.logo-3-amazon{
    padding-left: 30px;
    transition: .3s;
}
/* amazon logo */
#amazon-logo{
    height: auto;
    width: 300px;
    border-radius: 30px;
    border: 2px solid black;
    transition: .3s;
}
/* adding hover animation on amazon */
.logo-3-amazon:hover{
    padding-bottom: 100px;
}
/* adding active animation on amazon logo */
#amazon-logo:active {
    box-shadow: 0 0 20px red;
}

/* adding flipkart logo */
.logo-4-flipkart{
    padding-left: 40px;
    transition: .3s;
}
/* flipkart logo */
#flipkart-logo{
    height: auto;
    width: 200px;
    border-radius: 30px;
}
/* adding hover animation to flipkart */
.logo-4-flipkart:hover{
    padding-bottom: 100px;
}
/* adding active animation to flipkart logo */
#flipkart-logo:active{
    box-shadow: 0 0 20px red;
}